.prim-div{
    padding-top:8px;
    padding-bottom:8px;
    border-bottom-width: 1px;
    margin-bottom:12px;
    display: grid;
    grid-template-columns: repeat(13, minmax(0, 1fr));
    align-items: center;
    height:100px;
}
.search-div{
    grid-column: span 10 / span 10;
}
@media (max-width: 1024px) {
    .prim-div {
        grid-template-columns: repeat(10, minmax(0, 1fr));/* عمودان فقط على الشاشات المتوسطة */
    }
    .search-div{
        grid-column: span 7 / span 7;
    }
}
@media (max-width: 768px) {
    .prim-div {
        grid-template-columns: repeat(8, minmax(0, 1fr));/* عمودان فقط على الشاشات المتوسطة */
    }
    .search-div{
        grid-column: span 5 / span 5;
    }
}
@media (max-width: 480px) {
    .prim-div {
        grid-template-columns: repeat(4, minmax(0, 1fr)); /* عمود واحد فقط على الشاشات الصغيرة */
    }
    .search-div{
        grid-column: span 1 / span 1;
    }
}